.star-rating {
  display: flex;
  flex-flow: column;
  & .stars {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    & .star {
      font-size: 2.2rem;
      font-weight: bold;
      width: 3rem;
      height: 3rem;
      text-align: center;
      &.active {
        color: yellow;
      }
      &:hover:not(.active) {
        color: gray;
      }
    }
  }
}
