
<div class="star-rating" [formGroup]="fGroup">
  <label [for]="control.key">{{control.label}}:</label>
  <input [hidden]="true" [formControlName]="control.key" [type]="control.type" [id]="control.key">
  <div class="stars">
    <ng-container *ngFor="let star of options">
      <p class="fa star fa-star" [ngClass]="{'active':  getClass(star) }" (click)="setValue(star)"></p>
    </ng-container>
  </div>
  <app-message-error *ngIf="control.validations" [errors]="errors" [validations]="control.validations"></app-message-error>
</div>
