<ng-container [formGroup]="group">
  <ng-container *ngFor="let control of controls;">
    <ng-container [ngSwitch]="control.controlType">
      <app-input-text *ngSwitchCase="'inputText'"
        [control]="control"
        [fGroup]="group"></app-input-text>
      <app-check-box *ngSwitchCase="'checkbox'"
        [control]="control"
        [fGroup]="group"></app-check-box>
        <app-select *ngSwitchCase="'select'"
          [control]="control"
          [fGroup]="group"></app-select>
    </ng-container>
  </ng-container>
  <button type="submit" class="btn btn-default">Submit</button>
</ng-container>
