:host {
  display: block;
}
.input-text {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  width: 100%;
  label {
  }
  input {
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    padding: 0.4rem 0.8rem;
    line-height: 1;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}
